proj.win10
proj.win8.1-universal
linux-build
Debug.win32
LudoMuse Client.win32
proj.ios_mac
proj.android-studio
bin
.cocos-project.json
proj.android/obj
proj.android/libs
proj.android/bin
proj.android/assets
proj.android/gen
proj.android/build-cfg.json
proj.android/.idea
proj.android/classes
proj.android/LudoMuse.iml
proj.android/out
proj.android/proj.android.iml
proguard-project.txt
local.properties
lint.xml
LICENSE
*.log
build_native.py
ant.properties
build.xml
R.java.d
proj.android/jni/Application.mk
proj.android/jni/hellocpp/


build
/Debug/

*~
.vagrant


*.so
*.o
*.dll
*.lib
*.exe
*.sdf
*.orig

cocos2d
proj.win32/Debug.win32
proj.win32/Release.win32
proj.win32/LudoMuse.sdf
proj.win32/res
proj.win32/LudoMuse.VC.opendb
proj.win32/LudoMuse.vcxproj.user
proj.win32/LudoMuse.v12.suo
proj.win32/.vs

LudoMuse.creator.user
LudoMuse.creator.user
.kdev4/
LudoMuse.creator.user.d2607d1
LudoMuse.kdev4

proj.android/.settings/org.eclipse.jdt.core.prefs
proj.android/.classpath
proj.win32/LudoMuse.VC.db
proj.win32/LudoMuse.VC.VC.opendb
proj.android/out
proj.win32/LudoMuse.vcxproj

Resources/.idea
proj.android/LudoMuse.iml
proj.android/.idea
proj.android/.idea/workspace.xml
proj.win32/LudoMuse.vcxproj

proj.tizen

!cocos2d/cocos/platform/win32/CCApplication-win32.cpp
!cocos2d/cocos/platform/win32/CCApplication-win32.h


Scenarios/Cernuschi/res_templ
Scenarios/Cernuschi/temp.json
Scenarios/*.zip
ResourcesFiles/res_templ
ResourcesFiles/temp.json
*.zip
