proj.win10
proj.win8.1-universal
linux-build
Debug.win32
proj.ios_mac
proj.android-studio
bin
.cocos-project.json
proj.android/res/values
proj.android/res/drawable-mdpi
proj.android/res/drawable-ldpi
proj.android/res/drawable-hdpi
proj.android/obj
proj.android/libs
proj.android/bin
proj.android/assets
proj.android/gen
proj.android/build-cfg.json
proguard-project.txt
local.properties
lint.xml
LICENSE
*.log
build_native.py
ant.properties
build.xml
R.java.d
proj.android/jni/Application.mk
proj.android/jni/hellocpp/


build
/Debug/

*~
.vagrant


*.so
*.o
*.dll
*.lib
*.exe
*.sdf
*.orig

cocos2d
proj.win32/Debug.win32
proj.win32/LudoMuse.sdf
proj.win32/res
proj.win32/LudoMuse.VC.opendb
proj.win32/LudoMuse.vcxproj.user
proj.win32/LudoMuse.v12.suo
proj.win32/.vs

LudoMuse.creator.user
LudoMuse.creator.user
.kdev4/
LudoMuse.creator.user.d2607d1
LudoMuse.kdev4

proj.android/.settings/org.eclipse.jdt.core.prefs
proj.android/.classpath
